[user]
	email = luke_13@sjtu.edu.cn
	name = Luke
[core]
	editor = vim
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
    d = "difftool"
[diff]
	tool = vimdiff
[difftool]
	prompt = false
